.navbar {
    justify-content: flex-start;
    padding: 20px;
    gap: 40px;
    position: fixed;
}

input {
    border: 1px solid red;
}

.profile-image {
    width: 60px;
    height: 60px;
}

.user-profile {
    gap: 10px;
    align-items: center;
}

.create-model {
    border: 1px solid black;
    padding: 70px;
    position: absolute;
    left: 200%;
    top: 50%;
    z-index: 1;
}