.navbar {
    justify-content: flex-start;
    padding: 20px;
    gap: 40px;
    position: fixed;
}

input {
    border: 1px solid red;
}

.profile-image {
    width: 60px;
    height: 60px;
}

.user-profile {
    gap: 10px;
    align-items: center;
}
.post-image {
    width: 300px;
}

.create-model {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 5px 5px 10px 5px grey;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.create-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px
}

.buttons-container{
  display: flex;
  justify-content: center;
}
    